{% macro def_input(item, property) %}
    {% if property.name == "title" %}
{{property.name}}: {
        type: {{property.type.concreteType|inputType}},
        default: '',
        trim: true
    },
    {% elif property.name == "content" %}
{{property.name}}: {
        type: {{property.type.concreteType|inputType}},
        default: '',
        trim: true
    },
    {% elif property.name == "author" %}
{{property.name}}: {
        type: Schema.ObjectId,
        ref: 'User'
    }
    {% endif %}
{% endmacro %}
