{% import 'macros.html' as macros %}
<section data-ng-controller="{{ ControllerName }}">
  <form name="{{ formName }}" class="form-horizontal col-md-6" role="form" data-ng-submit="create({{ formName }}.$valid)" novalidate>

    {% for property in item.properties %}
    <div class="form-group" ng-class="{ 'has-error' : submitted && {{ formName }}.{{ property.name }}.$invalid }">
      <label mean-token="'create-{{ property.name }}'" class="col-md-3 control-label">{{ property.label }}</label>
      <div class="col-md-9">
        {{macros.def_input(item, property)}}
        <div ng-show="submitted && {{ formName }}.{{ property.name }}.$invalid" class="help-block">
          <p ng-show="{{ formName }}.{{ property.name }}.$error.required">{{ property.label }} is required</p>
        </div>
      </div>
    {% endfor %}

    <div class="form-group">
      <label mean-token="'permissions'" for="permissions" class="col-md-3 control-label">Permissions</label>
      <div class="col-md-9">
         <ui-select multiple ng-model="{{ item.name }}.permissions" append-to-body="'true'" on-select="selectPermission()">
            <ui-select-match placeholder="Select permissions..." ng-click="showDescendants();">{% raw %}{{$item}}{% endraw %}</ui-select-match>
            <ui-select-choices repeat="circle in availableCircles | filter:$select.search" name="permissions">
              {% raw %}{{circle}}{% endraw %}
            </ui-select-choices>
          </ui-select>
      </div>
    </div>

     <div class="form-group" ng-show="descendants.length">
        <label mean-token="'descendants'" for="descendants" class="col-md-3 control-label">Descendants</label>
        <div class="col-md-9">
          <span ng-repeat="descendant in descendants">{% raw %}{{descendant}}{% endraw %}<span ng-hide="$last">, </span></span>
        </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button mean-token="'create-submit'" type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </form>
</section>
