<section data-ng-controller="{{ ControllerName }}" data-ng-init="find()">
  <ul class="{{ items }} unstyled">
    <li data-ng-repeat="{{ item }} in {{ items }}">
      <h2>
        <a data-ng-href="/{{ items }}/{% raw %}{{{% endraw %}{{ item }}._id{% raw %}}}{% endraw %}">{% if properties|length > 0 %}{% raw %}{{{% endraw %}{{ item }}.{{(properties|first()).name}}{% raw %}}}{% endraw %}{% endif %}</a>
        <span data-ng-if="hasAuthorization({{ item }})">
          <a class="btn" href="/{{ items }}/{% raw %}{{{% endraw %}{{ item }}._id{% raw %}}}{% endraw %}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove({{ item }});">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h2>
      {% for property in properties %}
        {% if not loop.first and property.visibility == 'visible' %}
            <div>{{property.name}}: {% raw %}{{{% endraw %}{{ item }}.{{property.name}}{% raw %}}}{% endraw %}</div>
        {% endif %}
      {% endfor %}
    </li>
  </ul>
  <h1 data-ng-hide="!{{ items }} || {{ items }}.length">No {{ items }} yet. <br> Why don't you <a href="/{{ items }}/create">Create One</a>?</h1>
</section>