<section data-ng-controller="{{ ControllerName }}" data-ng-init="findOne()">
  {# If there is any properties, display first #}
  {# TODO: configuration for choosing which property will bi displayed #}
  <h2>{% if properties|length > 0 %}{% raw %}{{{% endraw %}{{ item }}.{{(properties|first()).name}}{% raw %}}}{% endraw %}{% endif %}</h2>
  <div data-ng-if="hasAuthorization({{ item }})">
    <a class="btn" href="/{{ items }}/{% raw %}{{{% endraw %}{{ item }}._id{% raw %}}}{% endraw %}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove({{ item }});">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  {% for property in properties %}
    {% if not loop.first and property.visibility == 'visible' %}
        <div>{{property.name}}: {% raw %}{{{% endraw %}{{ item }}.{{property.name}}{% raw %}}}{% endraw %}</div>
    {% endif %}
  {% endfor %}
</section>